.footer {
    height: 10vh;
    background-color: #2F2F2F;
    box-shadow: 0px -4px 16px #FF0000;
}

.red {
    color: #FF0000;
    font-weight: 700;
}

.white {
    color: #FFF;
    font-weight: 700;
}
